{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="background-color: #D1F2EB ; overflow:auto;">
<div class="container">
  <div class="col-6" style="margin-top: 100px">
<div class="jumbotron" style="margin-top: 180px; margin-bottom: 180px; padding-top: 2rem; background-color: #EBF3FF; color: black;">

    <h2 align='center'>Change Your Password...</h2><br>
  <form method="post" enctype="multipart/form-data">

    {{form|crispy}}
    {% csrf_token %}

    <input class="btn btn-success" type="submit" value="Update">

  </form>

</div>
</div>
</div>
</div>
{% endblock %}
